title = "Members"
url = "/members"
layout = "default"
is_hidden = 0

[session]
security = "all"
==
{##}
<section style="margin-top: 50px">
    <div class="container">
        <h2>Member Area</h2>
    </div>
</section>

{% component 'session' %}