==
{##}
<!-- Nav -->
<style>
.custom-links {
    color: white;
    display: flex; 
    list-style-type: none;
}

.custom-links li, .custom-links li a {
     padding-left: 10px;
     padding-right: 10px;   
}
    
</style>
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">October Demo</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Basic concepts</a></li>
                <li class="{% if this.page.id == 'ajax' %}active{% endif %}"><a href="{{ 'ajax'|page }}">AJAX framework</a></li>
                <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="{{ 'plugins'|page }}">Plugin components</a></li>
            </ul>
        </div>
        <div>            
            <ul class="custom-links">
                <li class="label">Custom links:</li>
            
                {% if not user %}
                <li><a href="{{ 'login'|page }}">Login or Register</a></li>
                {% endif %}

                <li><a href="{{ 'members'|page }}">Members</a></li>
                {% if user %}
                <li><a data-request="onLogout" data-request-data="redirect: '{{ 'home'|page }}">Sign out</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>